body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    margin: 40px auto;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.main-container-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main contant section */
.main-content-section {
    padding: 100px 90px;
}

.main-contant-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

/* About me section */

.about-me-section {
    margin-bottom: 40px;
}

#line {
    color: #FB6D3A;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    margin-top: 0px;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 17px;
    color: #FB6D3A;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 40px;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.about-me-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 410px;
}

/* My projects section */

.my-projects-section {
    margin-bottom: 50px;
}

.my-projects-list {
padding: 0 0 0 17px;
}

.my-projects-item {
    color: black;
    font-weight: bold;
}

.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* Work experience section */
.work-experience-section {
    
}

.my-work-experience-company {
    color: #FB6D3A;
}

.my-work-experience-company-name {
    margin: 0 15px 0 0; 
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.my-work-experience-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.my-work-experience-divider {
    color: black;
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}

.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education-section {
    
}

.education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.education-speciality { 
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.education-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.education-divider {
    color: black;
}

/* Sidebar section */
.side-bar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* Contacts section */
.contacts-section {
    margin: 50px 0 0 40px;
}

.contacts-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
    vertical-align: middle
}

.contacts-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #838e9e;
    vertical-align: middle
     
}
.contacts-section-link1 {
    margin-left: 10px;
}

.contacts {
    vertical-align: middle
}

.phone {
    vertical-align: middle
}

/* Tech skills section */
.tech-skills-section {
    margin: 50px 0 0 40px;
}
.tech-skills-list {
    padding: 0 0 0 18px;
    
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-item-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* Soft skills section */

.soft-skills-section {
    margin: 45px 0 0 40px;
}

.soft-skills-list {
    padding: 0 0 0 18px;
}

.soft-skills-item {
    color: #FB6D3A;
}

.soft-skills-item-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* Other skills section */

.other-skills-section {
    margin: 45px 40px 0 40px;
}

.other-skills-list {
    padding: 0 0 0 18px;
}

.other-skills-item {
    color: #FB6D3A;
}

.other-skills-item-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
